sem1/task1/task1.py
sem1/task1/task1_with_thomas_algo.py
sem1/task2/task2.py
sem1/task2/task2_approx.py
sem1/task3/task3_new.py
sem2/task1/prev.py
sem2/task1/task1.py
sem2/task2/task2.py
sem2/task3/task3.py
